footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    width: 100%;
    background-color: rgb(37, 37, 37);
}

.placement_lien_reseau{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.espace_lien_footer{
    padding: 10px 0;
}

.taille_reseau{
    display: flex;
    justify-content: space-around;
}

.size_img_reseau{
    width: 15%;
    height: 100%;
}

.box_logo{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.logo_eteint{
    align-items: center;
    justify-content: center;
    width: auto;
    height: 220px;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo_allume{
    width: auto;
    height: 220px;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    animation: logo 10s infinite;
}
@keyframes logo{
    0%{
        opacity: 1;
    }
    32%{
        opacity: 1;
    }
    33%{
        opacity: 0;
    }
    34%{
        opacity: 1;
    }
    35%{
        opacity: 0;
    }
    36%{
        opacity: 1;
    }
    66%{
        opacity: 1;
    }
    67%{
        opacity: 0;
    }
    68%{
        opacity: 1;
    }
    69%{
        opacity: 0;
    }
    79%{
        opacity: 0;
    }
    80%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}

.mention{
    width: 80%;
    height: auto;
    padding: 50px;
    margin: 10px;
    background-color: #565656;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    display: none;
    opacity: 0;
    transition: .5s;
}
.mention.active{
    display: flex;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
    transition: .5s;
}
/*bouton de fermeture de la fenetre mention légal*/
.bt_close_mention{
    color: rgba(207, 207, 207, 0.8);
    padding: 10px 15px;
    border: solid 2px rgba(226, 226, 226, 0.6);
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
}
@media screen and (max-width: 767px){
    .box_logo{
        display: none;
    }
}
@media screen and (min-width: 150px) and (max-width: 480px){
    .mention{
        font-size: 10px;
    }
    .bt_close_mention{
        font-size: 12px;
    }
}


