.fond-inscription{
    background: url("../img/img_form.jpg") fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inscription{
    padding: 40px;
    background-color: #36917e;
    opacity: 0.95;
    border: solid 2px white;
    border-radius: 5px;
    box-shadow: 0 0 1vw #cfcfcf;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*div input{*/
/*    display: flex;*/
/*}*/

.cote_a_cote{
    display: flex;
}

.placement_nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}


.form_footer{
    position: absolute;
    bottom: -30vh;
    left: 0;
}