/* règle général */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.resp{
    height: auto;
    width: 100%;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

li{
    list-style-type: none;
    text-align: center;
    font-size: 14px;
}

h2{
    font-size: 3em;
    color: white;
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h4{
    padding: 15px 10px;
}

h5{
    text-align: center;
    color: white;
}

a{
    color: white;
}

label{
    margin-bottom: -0.5rem;
}

/*flou sur page d'acceuil à l'activation du JS pour fenetre popup*/
.blur.active{
    filter: blur(10px);
    pointer-events: none;
    user-select: none;
}

/*gestion du popup page en travaux*/
.travaux{
    width: 40%;
    height: auto;
    padding: 50px;
    background-color: #565656;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    display: none;
    opacity: 0;
    transition: .5s;
}

.travaux.active{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
    transition: .5s;
}

.place_bt_close_travaux{
    position: absolute;
    top: 15%;
    right: 5%;
}

.place_bt_close_mention{
    position: absolute;
    bottom: 4%;
    right: 5%;
}

.bt_close{
    position: relative;
    cursor: pointer;
    margin: 10px;
}

.bt_close_l{
    background-color: #ffffff;
    height: 3px;
    width: 20px;
    transform: translate(-50%, -50%) rotate(45deg) ;
    position: absolute;
}

.bt_close_r{
    background-color: rgba(255, 255, 255, 0.91);
    height: 3px;
    width: 20px;
    transform: translate(-50%, -50%) rotate(-45deg) ;
    position: absolute;
}

@media screen and (min-width: 150px) and (max-width: 800px){
    .travaux{
        width: 60%;
    }
}
