<nav class="ligne-nav">
    <div class="zoom"><a href="http://localhost/pin_d_epices/public/" class="les4">Accueil</a></div>
    <div class="zoom"><a href="#menu" class="les4">Menu du jour</a></div>
    <div class="zoom"><a href="#a_propos" class="les4">A propos</a></div>
    <div class="zoom"><a href="#" class="les4">Les recettes</a></div>
</nav>