{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/nav.css') }}">
{% endblock %}

<nav class="ligne-nav">
    <div class="big_nav">
        <div class="zoom"><a href="http://localhost/pin_d_epices/public/" class="les4">Accueil</a></div>
        <div class="zoom"><a href="http://localhost/pin_d_epices/public/#menu" class="les4">Menu du jour</a></div>
        <div class="zoom"><a href="http://localhost/pin_d_epices/public/#a_propos" class="les4">A propos</a></div>
        <div class="zoom"><a href="#" class="les4" onclick="travaux('pop')">Les recettes</a></div>
    </div>

    <div class="small_nav">
        <div class="nav_bar"></div>
        <div class="nav_bar"></div>
        <div class="nav_bar"></div>
    </div>
</nav>