<!DOCTYPE html>
<html lang="fr">
<head>

{#    Required meta tags    #}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

{#    Bootstrap version mini    #}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

{#    My base CSS web site  #}
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">

{#  Import CSS on only web page call    #}
    {% block stylesheets %}{% endblock %}

{#    TYPO front google.font#}
    <link href="https://fonts.googleapis.com/css?family=Bad+Script|Lobster|Montserra&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

{#    Web site title    #}
    <title>Pin d'épices</title>
    <link rel="icon" type="image/png" href="../public/assets/img/small_logo.png">

</head>
    {% block body %}

    {% endblock %}
</html>
