<div class="travaux">

    <span>Oups la page est en travaux !</span>

    <div class="place_bt_close_travaux" onclick="travaux()">
        <div class="bt_close">
            <div class="bt_close_l"></div>
            <div class="bt_close_r"></div>
        </div>
    </div>

</div>